.contact-form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  .page-title {
    font-size: 24px;
    font-weight: 600;
    text-align: left;
    font-family: 'Raleway', sans-serif;
  }

  label {
      display: flex;
      flex-direction: column;
      font-size: 14px;
      gap: 0.6rem;
      margin-bottom: 1rem;

      input {
        font-size: 14px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 12px;
        font-family: inherit;
        background: #f9f9f9;

        &:focus {
          outline: none;
          border-color: #666;
          background: white;
        }
      }

      input.ng-invalid.ng-touched,
      textarea.ng-invalid.ng-touched {
        border: 1px solid #cc3d3d;
      }

      .error {
        color: #cc3d3d;
        font-size: 13px;
        margin-top: -4px;
      }

      a {
        color: #000;
        text-decoration: underline;
        font-weight: 500;

        &:hover {
          text-decoration: none;
        }
      }

      &:disabled {
        background-color: #f5f5f5;
        color: #888;
        cursor: not-allowed;
      }
    }


  .error {
    color: red;
    font-size: 12px;
    margin-top: 4px;
  }

  .form-actions {
    margin-top: 16px;
  }

  .submit-button {
    background-color: #191919;
    width: 100%;
    min-height: 45px;
    color: #f0efef;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Raleway', Arial, sans-serif;
    border: 3px solid #191919;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;

    &:hover {
      background-color: #f0efef;
      color: #191919;
    }

    &:disabled {
      background-color: #191919;
      cursor: not-allowed;
    }
  }
}

.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;

  input {
    flex: 1;
  }

  .toggle-password {
    position: absolute;
    right: 12px;
    background: transparent;
    border: none;
    cursor: pointer;

    img {
      width: 20px;
      height: 20px;
      margin-top: 4px;
    }
  }
}
