html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

// ------- Мобільна адаптація --------
@media (max-width: 900px) {
  html, body {
    padding: 0 !important;
    margin: 0 !important;
  }

  .product-tabs-wrapper {
    margin-top: 3% !important;
    margin-bottom: 5% !important;
  }

  .product-tabs {
    padding: 12px 0 !important;
    .tab-buttons {
      justify-content: center;
      gap: 16px;

      button {
        width: auto;
        min-width: 100px;
        font-size: 15px;
        text-align: center;
        background: none;
        color: inherit;
        border: none;
        outline: none;
        box-shadow: none;
        -webkit-tap-highlight-color: transparent;
        -webkit-appearance: none;
      }

      button:focus,
      button:active {
        outline: none;
        box-shadow: none;
      }
    }

    .tab-content {
      max-width: 100%;
      padding: 0 12px 0 20px;
    }
  }

  .back-link,
  .thumbnail-list {
    display: none !important;
  }

  .product-page,
  .product-details-page,
  .product-gallery,
  .main-image {
    padding: 0 !important;
    margin: 0 !important;
    max-width: 100vw !important;
  }

  .product-page {
    padding-top: 8% !important;
  }

  .product-content {
    flex-direction: column;
    gap: 24px;
    padding: 0 !important;
    margin: 0 !important;
  }

  .main-image {
    touch-action: none;
    -webkit-user-select: none;
    user-select: none;
  }

  .main-image img {
    display: block;
    width: 100vw;
    max-width: 100vw;
    height: auto;
    object-fit: cover;
  }

  .product-gallery {
    flex-direction: column;
    gap: 12px;

    .main-image {
      overflow: hidden;
      position: relative;

      img {
        display: block;
        object-fit: cover;
      }
    }
  }

  .main-image.swiping-left img {
    animation: swipeLeft 0.6s ease;
  }

  .main-image.swiping-right img {
    animation: swipeRight 0.6s ease;
  }

  @keyframes swipeLeft {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100px); }
  }

  @keyframes swipeRight {
    0% { transform: translateX(0); }
    100% { transform: translateX(20px); }
  }

  .image-counter {
      position: absolute;
      bottom: 12px;
      left: 12px;
      color: rgb(20, 19, 19);
      padding: 4px 8px;
      font-size: 16px;
      border-radius: 4px;
    }

  .product-info {
    gap: 18px;
    margin-left: 5%;
    margin-top: -7%;

    h1 {
      font-size: 20px;
    }

    .price {
      font-size: 18px;
    }

    .divider {
      margin: 4px 0 8px;
      max-width: 90%;
    }

    .colors p,
    .sizes p {
      font-size: 15px;
    }

    .color-dots .dot {
      width: 24px;
      height: 24px;
    }

    .size-buttons {
      gap: 8px;

      span {
        font-size: 14px;
        padding: 6px 12px;
      }
    }

    .size-guide {
      font-size: 13px;

      img {
        width: 14px;
        height: 14px;
      }
    }

    .action-row {
      flex-direction: column;

      .quantity {
        display: none !important;
      }
    }

    .actions {
  width: 100% !important;
  display: flex !important;
  align-items: center;
  justify-content: flex-start !important;
  gap: 8px;
  padding: 0 !important;
  margin: 0 auto !important;

  .add-to-cart {
    width: 77%;
    max-width: 320px;
    padding: 12px 0 !important;
    font-size: 12px;
    text-align: center;
    font-weight: 500;
    border: 3px solid #191919;
    border-radius: 6px;
    background-color: #ff0b0b;
    color: white;
    cursor: pointer;
    transition: background-color 0.5s;

    &:hover {
      background-color: #f0efef;
      color: #191919;
    }
  }

  .wishlist {
    width: 47px !important;
    height: 47px !important;
    border: 1px solid black;
    border-radius: 6px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    transition: background-color 0.5s;

    img {
      width: 22px;
      height: 22px;
      transition: filter 0.5s;
    }

    &:hover,
    &.active {
      background: black;

      img {
        filter: invert(1);
      }
    }
  }
}

    .delivery-info {
      margin-top: 12px;

      p {
        font-size: 13px;

        img {
          width: 18px;
          height: 18px;
        }
      }
    }
  }
}

@media (min-width: 901px) {
  .product-info {
    .action-row {
      flex-direction: row !important;
      align-items: center;
      gap: 16px;

      .quantity {
        display: flex !important;
        flex-direction: column;
        gap: 6px;
      }

      .actions {
        display: flex !important;
        flex-direction: row;
        align-items: center;
        gap: 8px;
      }
    }
  }
}


















.product-page {
  padding: 5%;

  .back-link {
    margin-bottom: 1rem;
    margin-left: 4rem;
    display: inline-block;
    color: hsl(0, 0%, 20%);
    font-size: 18px;
    font-family: 'Raleway', Arial, sans-serif;
    text-decoration: none;
  }

  .product-content {
    display: flex;
    align-items: flex-start;
    gap: 48px;
    max-width: 1200px;
    margin: 0 auto;
  }

  .product-gallery {
    display: flex;
    gap: 24px;

    .thumbnail-list {
      display: flex;
      flex-direction: column;
      gap: 8px;

      img {
        width: 64px;
        height: 64px;
        object-fit: cover;
        cursor: pointer;
        border: 2px solid transparent;
        border-radius: 4px;

        &.selected {
          border-color: black;
        }
      }
    }

    .main-image {
      position: relative;
      overflow: hidden;

      img {
        width: 100%;
        max-width: 500px;
        height: auto;
        border-radius: 12px;
        background: #f5f5f5;
        transition: transform 0.3s ease;
        will-change: transform;
        touch-action: pan-y;
      }

      &.swiping-left img {
        transform: translateX(-20px);
      }

      &.swiping-right img {
        transform: translateX(20px);
      }
    }
  }


  .mobile-counter {
    display: none;
  }

  .product-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;

    h1 {
      font-size: 28px;
      font-weight: 400;
      margin: 0;
    }

    .price {
      font-size: 22px;
      margin-top: 4px;
      margin-bottom: 2px;
    }

    .divider {
      border: none;
      border-top: 1px solid #ddd;
      margin: 0.1px 0;
    }

    .colors {
      p {
        font-size: 16px;
        margin-top: 4px;
        margin-bottom: 1rem;
      }

      .color-dots {
        display: flex;
        gap: 10px;

        .dot {
          width: 28px;
          height: 28px;
          border-radius: 50%;
          border: 2px solid rgb(198, 198, 198);
          cursor: pointer;

          &.selected {
            border-color: black;
          }
        }
      }
    }

    .sizes {
      p {
        font-size: 16px;
        margin-bottom: 1rem;
      }

      .size-buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

        span {
          padding: 8px;
          border: 1px solid #ccc;
          border-radius: 10%;
          cursor: pointer;
          min-width: 48px;
          text-align: center;
          transition: 0.2s;

          &.selected {
            background-color: #f5f5f5;
            border-color: black;
          }
        }
      }

      .size-guide {
        display: inline-flex;
        align-items: center;
        gap: 6px;
        margin: 1rem 0;
        font-size: 14px;
        text-decoration: underline;
        color: #222;
        cursor: pointer;

        img {
          width: 16px;
          height: 16px;
        }
      }
    }

    .action-row {
      display: flex;
      align-items: center;
      gap: 16px;

      .quantity {
        display: flex;
        gap: 6px;

        p {
          margin: 0;
          font-weight: 400;
          font-size: 16px;
        }

        .qty-control {
          display: flex;
          align-items: center;
          gap: 0.1rem;

          button {
            width: 36px;
            height: 36px;
            font-size: 18px;
            border: 1px solid transparent;
            background: white;
            cursor: pointer;
          }

          span {
            font-family: 'Gotham', sans-serif;
            width: 24px;
            text-align: center;
            font-size: 14px;
          }
        }
      }

      .actions {
        display: flex;
        align-items: center;
        gap: 8px;

        .add-to-cart {
          margin-top: 1.5rem;
          padding: 13px 70px;
          background-color: #191919;
          color: #f0efef;
          font-weight: 500;
          font-size: 15px;
          border: 3px solid #191919;
          border-radius: 6px;
          cursor: pointer;
          transition: background-color 0.5s;

          &:hover {
            background-color: #f0efef;
            color: #191919;
          }
        }

        .wishlist {
          margin-top: 1.5rem;
          width: 45px;
          height: 45px;
          border: 1px solid black;
          border-radius: 6px;
          background: white;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: background-color 0.5s;

          img {
            width: 22px;
            height: 22px;
            transition: filter 0.5s;
          }

          &:hover,
          &.active {
            background: black;

            img {
              filter: invert(1);
            }
          }
        }
      }
    }

    .delivery-info {
      display: flex;
      flex-direction: column;
      font-size: 14px;
      margin-top: 0.5rem;

      p {
        display: flex;
        align-items: center;
        gap: 6px;
        color: #555;
        margin: 4px 0;

        img {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}

::ng-deep .size-guide-dialog .mat-dialog-container {
  padding: 0;
  border-radius: 8px;
}

.product-tabs-wrapper {
  width: 100%;
  margin-top: -3rem;
  background: #f7f7f7;
}

.product-tabs {
  max-width: 960px;
  margin: 0 auto;
  padding: 32px 16px;

  .tab-buttons {
    display: flex;
    gap: 5%;
    border-bottom: 2px solid #e0e0e0;
    margin-bottom: 1rem;

    button {
      background: none;
      border: none;
      padding: 8px 0 12px 0;
      font-weight: 500;
      font-size: 16px;
      cursor: pointer;
      border-bottom: 1.5px solid transparent;

      &.active {
        border-color: black;
        font-weight: 700;
      }
    }
  }

  .tab-content {
    max-width: 80%;

    p {
      margin-bottom: 12px;
    }

    ul {
      padding-left: 20px;
      li {
        margin-bottom: 6px;
      }
    }

    .color-dot-text {
      display: inline-block;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      margin-right: 8px;
      vertical-align: middle;
      border: 1px solid #ccc;
    }
  }
}
