.scroll-to-top {
  position: fixed;
  bottom: 24px;
  right: 24px;
  width: 48px;
  height: 48px;
  background-color: rgb(36, 36, 36);
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: opacity 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;

  .icon-img {
    width: 24px;
    height: 24px;
    filter: invert(1);
  }

  &.visible {
    opacity: 1;
    pointer-events: auto;
  }

  &:hover {
    background-color: #141414;
  }
}
