.modal-backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
}

.address-modal {
  position: fixed;
  z-index: 1001;
  top: 50%;
  left: 50%;
  width: 90%;
  max-width: 400px;
  max-height: 650px;
  background: white;
  padding: 32px;
  border-radius: 12px;
  transform: translate(-50%, -50%);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
}

.close-button {
  position: absolute;
  top: 16px;
  right: 16px;
  background: transparent;
  border: none;
  font-size: 28px;
  line-height: 1;
  color: #333;
  cursor: pointer;
  transition: color 0.2s ease;

  &:hover {
    color: black;
  }
}

.page-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
  margin-top: -8px;
  text-align: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  gap: 4px;

  input[type='text'],
  input[type='email'],
  input[type='tel'] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;

    &:invalid.ng-touched {
      border-color: red;
    }
  }
}

.row {
  display: flex;
  gap: 12px;

  label {
    flex: 1;
  }
}

.error {
  font-size: 12px;
  color: red;
  margin-top: -4px;
}

.note {
  font-size: 12px;
  color: #777;
}

.submit-button {
  background-color: black;
  color: white;
  font-weight: 500;
  border: none;
  padding: 12px 43%;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;

  &:hover {
    background-color: #222;
  }
}

.form-actions {
  margin-top: 12px;
}

.consent-checkbox {
  display: flex;
  align-items: center;
  flex-direction: row !important;
  gap: 8px;
  font-size: 14px;
  cursor: pointer;
  user-select: none;
  position: relative;

  input[type='checkbox'] {
    display: none;
  }

  .custom-checkbox {
    width: 18px;
    height: 18px;
    border: 2px solid #444;
    border-radius: 3px;
    position: relative;
    flex-shrink: 0;
  }

  input[type='checkbox']:checked + .custom-checkbox::after {
    content: '';
    position: absolute;
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}

@media (max-width: 600px) {
  .address-modal {
    top: 0;
    left: 0;
    transform: none;
    width: 92%;
    height: 100vh;
    max-height: none;
    border-radius: 0;
    padding: 24px 16px;
  }

  .close-button {
    top: 12px;
    right: 12px;
    font-size: 24px;
  }

  .page-title {
    font-size: 20px;
    margin-top: 0;
  }

  .row {
    display: flex;
    gap: 12px;
    margin: 0 auto;
    margin-left: 0px !important;
    max-width: 320px;
    width: 92% !important;

    label {
      max-width: 175px !important;
    }
  }

  .submit-button {
    width: 100%;
    padding: 12px 0;
    font-size: 18px;
  }
}
