.modal-backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
}

.forgot-password-modal {
  position: fixed;
  z-index: 1001;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 30px;
  width: 90%;
  max-width: 400px;
  border-radius: 22px;
  font-family: 'Raleway', sans-serif;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);

  h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 1rem;
    margin-top: -3px;
  }

  p {
    font-size: 15px;
    margin-bottom: 1.5rem;
    color: #333;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    label {
      display: flex;
      flex-direction: column;
      font-size: 14px;

      input {
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 12px;
          font-family: inherit;
          font-size: 16px;
          background: #f9f9f9;
          margin-top: 10px;

          &:focus {
            outline: none;
            border-color: #666;
            background: #fff;
          }

          &.ng-invalid.ng-touched {
            border: 2px solid #cc3d3d;
          }
      }
    }

    .submit-button {
      font-family: 'Raleway', sans-serif;
      background-color: #191919;
      color: #f0efef;
      font-size: 16px;
      font-weight: 400;
      border: none;
      padding: 12px;
      border-radius: 15px;
      cursor: pointer;
      transition: background 0.4s;

      &:hover {
        background-color: #333;
      }
    }
  }
}

@media (max-width: 900px) {
  .forgot-password-modal {
    max-width: 80%;
  }
}
